header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease .5s;
}

header.color {
    background-color: rgba(14, 14, 14, .8);
}

.header--logo {
    height: 120px;
}

.header--logo img {
    height: 100%;
}

.header--user {
    height: 40px;
    display: flex;
    gap: 10px;
}

.header--user img {
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.header--user--logout {
    min-height: 120px;
    min-width: 110px;
    border-radius: 5px;
    background-color: rgba(14, 14, 14, .9);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--user--logout button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all ease .3s;
}

.header--user--logout button:hover {
    background-color: white;
    color: red;
}